@model cheapgit.ViewModels.blocks.ProductRatingCardViewModel
    
<h1>@Model.amt1Score</h1>
<h1>@Model.amt2Score</h1>
<h1>@Model.amt3Score</h1>
<h1>@Model.amt4Score</h1>
<h1>@Model.amt5Score</h1>
<h1>@Model.averageScore</h1>

